<ul id="control_actions">

  <li>Panel arrangement
    <ul style="padding-left: 2em;">
      <li><a class="orientation" data-orientation="horizontal">Code on top</a></li>
      <li><a class="orientation" data-orientation="vertical">Code on left</a></li>
    </ul>
  </li>

  <li>
    <label for="output">Extension (inserted at cursor)</label>
    <select name="plugin" data-sass-version="<%=Gem.loaded_specs["sass"].version%>">
      <option value="">vanilla Sass&nbsp;&nbsp;(v<%=Gem.loaded_specs["sass"].version%>)</option>
      <% @plugins.each do |plugin| %>
        <option value="<%= plugin.last[:import].to_s.gsub(/(\"|\[|\]|\s*)/, '') %>"><%=plugin.first %>&nbsp;&nbsp;(v<%=plugin.last[:version]%>)</option>
      <% end %>
    </select>
  </li>

</ul>