<header class="site_header">

  <a href="<%= !@body_class ? '/about' : '/' %>" class="logo" title="The sassiest way to play with Sass, Compass, &amp; LibSass!"><span class="alt">SassMeister</span></a>

<% unless @body_class %>
  <nav>
    <a id="toggle_css" data-state="hide"><span class="alt">CSS</span></a>

    <a id="toggle_html" data-state="hide"><span class="alt">HTML</span></a>


    <div id="share_actions" class="<%= 'hide' unless @gist %>">
      <span class="jump-icon"><span class="alt">Share</span></span>
      <ul>
        <li>
          <div class="share-widget">
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out this sassy gist." data-url="http://sassmeister.com/<%= "gist/#{@gist[:gist_id]}" if @gist %>" data-via="sassmeisterapp">Tweet</a>
            <script async>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </div>

          <label>Embed code:</label>
            <textarea onclick="this.focus();this.select();" readonly="readonly"></textarea>
        </li>
      </ul>
    </div>


    <div>
      <span class="cloud-icon"><span class="alt">Save</span></span>
      <ul id="cloud_actions">
        <% if session[:github_id] %>
          <% if @gist && @gist[:can_update_gist] %>
            <li><a id="save-gist" data-action="edit" class="edit-gist"><span>Update Gist</span></a></li>
          <% else %>
            <li><a id="save-gist" data-action="create" class="create-gist"><span>Save Gist</span></a></li>
          <% end %>
        <% end %>

        <%= '<li><a id="fork-gist" data-action="create" class="fork-gist"><span>Fork Gist</span></a></li>' if session[:github_id] && @gist %>
        <%= '<li><a href="/authorize" class="github"><span>Log in with your GitHub account to save gists</span></a></li>' unless session[:github_id] %>
        <%= '<li><a href="https://gist.github.com/' + @gist[:gist_id] + '" class="github" id="gist-link"><span>View on GitHub</span></a></li>' if @gist %>
        <li><a class="reset-icon" id="reset"><span>Reset</span></a></li>
      </ul>
    </div>


    <a id="open-controls" class="control-icon" title="Open control panel"><span class="alt">Control panel</span></a>


    <a href="javascript:(function(e,a,g,h,f,c,b,d){if(!(f=e.jQuery)||g>f.fn.jquery||h(f)){c=a.createElement('script');c.type='text/javascript';c.src='http://ajax.googleapis.com/ajax/libs/jquery/'+g+'/jquery.min.js';c.onload=c.onreadystatechange=function(){if(!b&&(!(d=this.readyState)||d=='loaded'||d=='complete')){h((f=e.jQuery).noConflict(1),b=1);f(c).remove()}};a.documentElement.childNodes[0].appendChild(c)}})(window,document,'1.4.2',function($,L){var gist_re=/^https?\:\/\/gist\.github\.com\/(\d*)/i,rel_re=/^\/?(\d+)$/,on_gist=gist_re.test(location.href);if(on_gist){location.href='http://sassmeister.com/gist'+location.pathname;}else{$('a').each(function(){var b=$(this).attr('href')||'',a=b.match(gist_re);if(on_gist&&!(a&&a[1])){a=b.match(rel_re)}if(a&&a[1]){$(this).after(' <a href=&quot;http://sassmeister.com/gist/'+a[1]+'&quot;>[sassmeister.com/gist]</a>')}});}});" class="bookmark-icon" title="I am a bookmarklet, drag me into your bookmark bar and click me when you're on a Gist page with Sass. It will be awesome!"><span class="alt">SassMeister Bookmarklet</span></a>

    <% if session[:github_id] %>
      <div><span><img src="http://www.gravatar.com/avatar/<%= session[:gravatar_id] %>?s=80" alt="" height="40"></span>
        <ul id="account_actions">
          <li class="checkmark-icon">Logged in as <%= session[:github_id] %></li>
          <li class="off-icon"><a href="/logout"><span>Logout</span></a></li>
        </ul>
      </div>

    <% else %>
      <a href="/authorize" class="github" title="Login with Github" id="github-auth"><span class="alt">Login with Github</a>

    <% end %>

  </nav>
<% end %>
</header>
