<form action="/compile" method="post" accept-charset="utf-8" class="sass_input" id="sass-form">
  <div class="controls">
    <div class="form_control">
      <label for="syntax">Syntax</label>
      <select name="syntax" data-original="">
        <option value="scss">SCSS</option>
        <option value="sass">Sass</option>
      </select>
    </div>

    <div class="form_control">
      <label for="plugin">Extension</label>
      <select name="plugin">
        <option value="">vanilla Sass&nbsp;&nbsp;(v<%=Gem.loaded_specs["sass"].version%>)</option>
        <% @plugins.each do |plugin| %>
          <option value="<%=plugin.first%>"><%=plugin.first %>&nbsp;&nbsp;(v<%=plugin.last[:version]%>)</option>
        <% end %>
      </select>
    </div>

    <div class="form_control">
      <label for="output">Output Style</label>
      <select name="output">
        <option value="expanded">expanded</option>
        <option value="nested">nested</option>
        <option value="compact">compact</option>
        <option value="compressed">compressed</option>
      </select>
    </div>
  </div>

  <div class="edit_container">
    <h2 class="edit-header">Sass</h2>

    <div class="pre_container">
      <pre id="sass"></pre>
    </div>
  </div>
</form>
<div id="gist-input" style="display: none"><%=@gist_input%></div>
