<div id="casement">
  <div id="source">
    <div class="panel" data-name="sass">
      <%= partial :"shared/_sass_input" %>
    </div>
    <div class="panel" data-name="css">
      <%= partial :"shared/_css_output" %>
    </div>
    <div class="panel" data-name="html">
      <%= partial :"shared/_html_input" %>
    </div>
  </div>

  <div id="rendered" data-name="rendered">
    <div class="editor-header">
      <h2 id="html-syntax-display">Result</h2>
    </div>
    <iframe id="rendered-html" sandbox="allow-scripts allow-same-origin"></iframe>

    <div id="sash_cover"></div>
  </div>
</div>

<script>
  var sandbox = 'http://<%= SANDBOX_DOMAIN %>';
  var gist = <%= @gist || 'false' %>;
  var resetApp = <%= @force_invalidate ? "'#{@force_invalidate}'" : 'false' %>;
  var github_id = <%= session[:github_id] ? "'#{session[:github_id]}'" : 'false' %>;
  var gravatar_id = <%= session[:gravatar_id] ? "'#{session[:gravatar_id]}'" : 'false' %>;
</script>
