<div class="editor-header" id="mobile-tabs">
  <h2 class="sass-syntax-display" data-tab="sass">Sass</h2>
  <h2 data-tab="css">CSS</h2>
  <% unless @gist && @gist[:html_filename] == '' && @body_class == 'embedded' %>
    <h2 class="html-syntax-display" data-tab="html">HTML</h2>
    <h2 data-tab="rendered">Result</h2>
  <% end %>
</div>

<div id="casement">
  <div id="source">
    <div class="panel" data-name="sass">
      <%= partial :"shared/_sass_input" %>
    </div>
    <div class="panel" data-name="css">
      <%= partial :"shared/_css_output" %>
    </div>
    <div class="panel" data-name="html">
      <%= partial :"shared/_html_input" %>
    </div>
  </div>

  <div class="panel" id="rendered" data-name="rendered">
    <iframe id="rendered-html" sandbox="allow-scripts allow-same-origin"></iframe>

    <div id="sash_cover"></div>
  </div>
</div>

<script>
  var sandbox = 'http://<%= SANDBOX_DOMAIN %>';
  var gist = <%= @gist.to_json || 'false' %>;
  var gist_output =  <%= @gist_output.to_json || 'false' %>;
  <%= 'var resetApp = true;' if @force_invalidate %>
  var github_id = <%= session[:github_id] ? "'#{session[:github_id]}'" : 'false' %>;
  var gravatar_id = <%= session[:gravatar_id] ? "'#{session[:gravatar_id]}'" : 'false' %>;
</script>
<script src="http://nightwing.github.io/emmet-core/emmet.js"></script>
