<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>SassMeister | The Sass Playground!</title>

  <meta http-equiv="Content-Language" content="en-us">
  <meta name="description" content="SassMeister is a playground for Sass. Add some Sass and SassMeister will show you the rendered CSS.">
  <meta name="author" content="Jed Foster and Dale Sande">

  <!--  Mobile Viewport Fix, use at own risk -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5 maximum-scale=1.0">

  <%= stylesheet_tags %>

  <script src="/javascripts/modernizr.js"></script>
</head>

<body class="<%= @body_class || 'app' %>">
  <%= partial :"shared/_header" %>

  <%= partial :"shared/_control_panel" unless @body_class %>

  <section class="main_body">
  <%= yield %>
  </section>

  <%= partial :"shared/_footer" %>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    <% if settings.environment == :production %> _gaq.push(['_setAccount', 'UA-35407426-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();<% end %>
  </script>
  
  <%= javascript_tags %>
</body>
</html>
